<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--扫描包-->
    <context:component-scan base-package="com.qimu.controller"></context:component-scan>
    <!--视图解析器-->
    <bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/jsp/"/><!-- 配置jsp路径的前缀 -->
        <property name="suffix" value=".jsp"/><!-- 配置jsp路径的后缀 -->
    </bean>
    <!--开启注解驱动-->
    <mvc:annotation-driven/>
    <!--处理静态资源-->
    <mvc:default-servlet-handler/>
    <!--处理静态资源-->
    <mvc:resources mapping="/static/**" location="/static/"/>
    <!--配置视图控制器-->
    <!--    <mvc:view-controller path="/" view-name=""></mvc:view-controller>-->
<!--        <mvc:view-controller path="/jsp/useradd" view-name="useradd"></mvc:view-controller>-->
</beans>